.nav {
  height: 100px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  .nav__wrappe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        width: 220px;
      }
    }
  }
  @include forMobile {
    padding: 1em;
  }
}
