.section__services {
  background: $primary-1;
  -webkit-transition: $transition;
  transition: $transition;
  @extend %shadow-inset;
  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .card {
      width: 32%;
      @include forMobile {
        width: 100%;
      }
    }
    .service-icon {
      font-size: 2rem;
      padding: 1em;
      color: $primary-2;
      margin-bottom: 1.5rem;
      border-radius: 58px;
      @extend %shadow-box-style;
    }
  }
}
